*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.....................HEADER........................  */
header{
    margin: 2px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 130px;
    background-image: url("/assets/cosmos-1853491_1280.jpg");
    border: 1px solid #ee26d3;
    border-radius: 10px;
    /* border-image: linear-gradient(to bottom, #521785 0%, #ee26ac 100%) 1; */
}
.fondo{
    background-size: cover;
}

.title{
    height: 120px;
    width: 350px;
    text-shadow: -1px -1px 11px rgb(152, 61, 255),-6px 16px 23px rgb(121, 40, 175), -1px 1px 25px rgb(238, 48, 228);
    animation: myAnim 3s ease infinite normal forwards;
}

@keyframes myAnim { 
    0% {
        opacity: 1;
        
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

img {
    width: 240px;
    height: 150px;
}

nav{
    height: 60px;
    width: 500px;
    display: flex;
    justify-content: space-around;
}

ul{
    list-style: none;   
    display: flex;
    align-items: center;
    gap: 10px;  
}

a{
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    text-decoration: none;
    font-size: 19px;
    color:#ee26d3;
    padding: 10px;
    border-radius: 5px;
}

a:hover {
    background: linear-gradient(to bottom left, #521785,#893ecf,#ee26ac);
    color: black;
    border-radius: 5px;
}

/* ----------MAIN------------------*/

body{
    width: 100%;
    min-height: 100vh;
    background-image: url(/assets/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

main{
    min-height: 100vh;
    width: 100%;
    padding: 20px 0px;
}

section{
    display: block;
}

.subtitle{
    text-align: center;
    border: 1px solid #ee26ac;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    color: #ee26ac;
    padding: 10px;
    margin: 10px;
    background-image: url(/assets/cosmos-1853491_1280.jpg);
}

.about{
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 600;
    margin: 15px;
    font-family: 'Roboto Mono', monospace;

}

.about:hover{
    color: #ee26d3;
    background-color: black;
    border-radius: 10px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.item-grid{
    width: 220px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    border: 4px solid #ee26d3;
} 

.item-grid:hover{
    background-image: url(/assets/cosmos-1853491_1280.jpg);
    border: 4px solid white;
}

.item-grid img {
    width: 100%;
    border-radius: 50%;
}

h3{
    background: linear-gradient(rgb(0, 0, 0), rgb(255, 0, 221));
    -webkit-background-clip: text;
    color: transparent;  
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}

p{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    padding: 1px;
}

p:hover{
    color:  rgb(64, 182, 113);
}

.text {
    font-size: 30px;
    text-align: center;
}

.text:hover {
    color: rgb(64, 182, 113);
}

.hbo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.boton{
    width: 500px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    border:  1px solid #ee26d3;
    background-image: url(/assets/cosmos-1853491_1280.jpg);
}

footer{
    margin: 10px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/assets/cosmos-1853491_1280.jpg);
    height: 100px;
    border:1px solid #ee26d3;
    border-radius: 10px;
}

.redes{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px;
}
.icono{
    font-size: 22px;
    font-weight: 100;
    
}

.instragram{
    width: 50px;
    height: 50px;
    
}

.github{
    width: 50px;
    height: 50px;
}